__pycache__/
.embedding_cache/
.ipynb_checkpoints/
.vscode/
archive/
synthetic/
pre-trained
pira_informacoes

algorithms.py
commons.py
generateSyntheticData_mod.py
nohup.out
*.csv*
*.xlsx*
*.txt
*.pdf
pira.ipynb
